html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
  
}
a{
  text-decoration: none;
}
/*a:focus{
    
    text-decoration:none;
    outline:none;
}
a:hover,
a:focus:hover{
    /*color:#23527c;*/
    text-decoration:underline;
}*/
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}

.header_top {
  background: #37a14c;
}

.header_top p{
  font-size: 16px;
  color: #fff;
  padding: 16px 0;
}
.soc_vk{
 background: url('../images/header_vk.png') no-repeat 0 0;
}

.soc_fb{
  background: url('../images/header_fb.png') no-repeat 0 0;
}

.flag{
  background: url('../images/header_flag.png') no-repeat 0 0;
}
.logo_img{
  background: url('../images/header_logo.png') no-repeat 0 0;
}
.soc_icon{
  width: 28px;
  height: 28px;
  display: inline-block;
}
.social_icon{
  padding-top: 8px;
}
.logo{
  width: 146px;
  height: 96px;
  
}